<div class="jumbotron">
  <h1 class="text-center">Alurapic</h1>
</div>

<p ng-show="mensagem.length" class="alert alert-infot">{{ mensagem }}</p>

<div class="row">
  <div class="col-md-12">
    <form action="">
      <div class="input-group">

        <span class="input-group-btn">
          <a class="btn btn-primary" href="fotos/new">Nova foto</a>
        </span>

        <input ng-model="filter" ng-model-options="{debounce: 1000}" type="text" class="form-control"
          placeholder="Filtrar">

      </div>
    </form>
  </div>
</div>

<div class="row container">
  <meu-painel class="col-md-2 painel-animado" ng-repeat="foto in fotos | filter: filtro" titulo="{{ foto.titulo }}">
    <minha-foto url="{{ foto.url }}" titulo="{{ foto.titulo }}"></minha-foto>
    <a href="fotos/edit/{{ foto._id }}" class="btn btn-primary btn-block">Editar</a>
    <meu-botao-remover acao="remover(foto)" nome="Remover"></meu-botao-remover>
  </meu-painel>
</div>